<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | Tabbed IFrames</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- <!-- overlayScrollbars -->
    <!-- <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css"> -->
    @RenderSection("csss", required: false)
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <a href="#" class="navbar-brand">
                <img src="~/Content/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Demo</span>
            </a>

            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Master</a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="/Home/Index" class="dropdown-item">City master</a></li>
                            <li class="dropdown-submenu dropdown-hover">
                                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Shabasad Master</a>
                                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                                    <li><a href="/Home/ShabasadMaster" class="dropdown-item">Shabasad Poof</a></li>
                                    <li><a href="#" class="dropdown-item">Shabasad Milkat</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="dropdown-item">Item Group</a></li>
                            <li><a href="#" class="dropdown-item">Item Master</a></li>
                            <li><a href="#" class="dropdown-item">Column Master /Loan Types Master</a></li>
                            <li><a href="#" class="dropdown-item">Account Group/Account Master</a></li>
                            <li><a href="#" class="dropdown-item">Employee Master/Staff</a></li>
                            <li><a href="#" class="dropdown-item">Type Master</a></li>
                            <li><a href="#" class="dropdown-item">Rate Master</a></li>
                            <li><a href="#" class="dropdown-item">Member Opening</a></li>
                            <li><a href="#" class="dropdown-item">Loan Opening</a></li>
                            <li><a href="#" class="dropdown-item">Item Stock Opening</a></li>
                            <li><a href="#" class="dropdown-item">Fixed FD Opening</a></li>
                            <li><a href="#" class="dropdown-item">Pf Opening</a></li>
                            <li><a href="#" class="dropdown-item">Intrest Slab (FD)</a></li>
                            <li><a href="#" class="dropdown-item">User master/Rights</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                            Transaction Saving
                        </a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">Receipt</a></li>
                            <li><a href="#" class="dropdown-item">Payment</a></li>
                            <li><a href="#" class="dropdown-item">Interest Calc</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                            PadY Entry
                        </a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">Inward Entry</a></li>
                            <li><a href="#" class="dropdown-item">Paynent Entry</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                            Loan Entry
                        </a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">Passing Entry</a></li>
                            <li><a href="#" class="dropdown-item">Receipt Entry</a></li>
                            <li><a href="#" class="dropdown-item">Payment Entry</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                            Fixed Diposits
                        </a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">Receipt Entry</a></li>
                            <li><a href="#" class="dropdown-item">Payment</a></li>
                            <li><a href="#" class="dropdown-item">Reserve Payment</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                            Department
                        </a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">Chalan</a></li>
                            <li><a href="#" class="dropdown-item">Purchase</a></li>
                            <li><a href="#" class="dropdown-item">Sales / Chalan wise Sales</a></li>
                            <li><a href="#" class="dropdown-item">Stock Adjusment</a></li>
                            <li><a href="#" class="dropdown-item">Receipt with Interest With GST</a></li>
                            <li><a href="#" class="dropdown-item">Payment With GST</a></li>
                            <li><a href="#" class="dropdown-item">Journal Entry</a></li>
                            <li><a href="#" class="dropdown-item">Opening Stock Balance</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                            Share Member
                        </a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">Inward Member</a></li>
                            <li><a href="#" class="dropdown-item">Share Receipt Return</a></li>
                            <li><a href="#" class="dropdown-item">Tranfer Member Entry</a></li>
                            <li><a href="#" class="dropdown-item">Divident Entry</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                            Share Member
                        </a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">Inward Member</a></li>
                            <li><a href="#" class="dropdown-item">Share Receipt Return</a></li>
                            <li><a href="#" class="dropdown-item">Tranfer Member Entry</a></li>
                            <li><a href="#" class="dropdown-item">Divident Entry</a></li>
                            <li><a href="#" class="dropdown-item">Transfer Entry</a></li>
                            <li><a href="#" class="dropdown-item">PaySleep Entry</a></li>
                            <li><a href="#" class="dropdown-item">PF Payment /Interest Payment </a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse order-3" style="float:right">

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm" style=" width: 40% !important;margin-left: 47%;">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
            </div>

        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="850">
            <div class="nav navbar navbar-expand navbar-white navbar-light border-bottom p-0">
                <div class="nav-item dropdown">
                    <a class="nav-link bg-danger dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Close</a>
                    <div class="dropdown-menu mt-0">
                        <a class="dropdown-item" href="#" data-widget="iframe-close" data-type="all">Close All</a>
                        <a class="dropdown-item" href="#" data-widget="iframe-close" data-type="all-other">Close All Other</a>
                    </div>
                </div>
                <a class="nav-link bg-light" href="#" data-widget="iframe-scrollleft"><i class="fas fa-angle-double-left"></i></a>
                <ul class="navbar-nav overflow-hidden" role="tablist"></ul>
                <a class="nav-link bg-light" href="#" data-widget="iframe-scrollright"><i class="fas fa-angle-double-right"></i></a>
                <a class="nav-link bg-light" href="#" data-widget="iframe-fullscreen"><i class="fas fa-expand"></i></a>
            </div>
            <div class="tab-content">
                <div class="tab-empty">
                    <h2 class="display-4">No tab selected!</h2>
                </div>
                    @RenderBody()
                <div class="tab-loading">
                    <div>
                        <h2 class="display-4">Tab is loading <i class="fa fa-sync fa-spin"></i></h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- <!-- overlayScrollbars -->
    <!-- <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script> -->
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.js"></script>
    <script>
        $(function () {

            $('[data-widget="pushmenu"]').PushMenu('collapse');

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
