
@{
    ViewBag.Title = "ShabasadMaster";
    Layout = "~/Views/Shared/_LayoutPageContent.cshtml";
    <style>

        .col-form-label {
            text-align: right;
        }
    </style>
}

@section csssContent {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Shabasad Master</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Shabasad Master</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Shabasad</h3>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-primary" style="float:right">
                                Add Shabasad
                            </button>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>City</th>
                                        <th>Mobile No</th>
                                        <th>Phone No</th>
                                        <th>Pin Code</th>
                                        <th>Father/Husband Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            01
                                        </td>
                                        <td>
                                            RV01
                                        </td>
                                        <td>
                                            Ravi
                                        </td>
                                        <td>
                                            Surat
                                        </td>
                                        <td>
                                            0123456789
                                        </td>
                                        <td>
                                            0261 123456
                                        </td>
                                        <td>
                                            394107
                                        </td>
                                        <td>
                                            ChaturBhai
                                        </td>
                                        <td class="text-end">
                                            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <div class="modal fade" id="modal-primary">
        <div class="modal-dialog modal-xl" style="width: 110% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Shabasad Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-3 col-form-label">Address</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Village</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputName2" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">City</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputName2" placeholder="Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Pin Code</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="inputName2" placeholder="Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputExperience" class="col-sm-3 col-form-label">Father / Husband Name</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Land Detail</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputSkills" placeholder="Land Detail">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Own Land Detail</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputSkills" placeholder="Own Land Detail">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Adhar Card No.</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputSkills" placeholder="Adhar Card No">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Saving A/c No</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputSkills" placeholder="Saving A/c No">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Pan No</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputSkills" placeholder="Pan No">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Retion Card No.</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputSkills" placeholder="Retion Card No">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Election Card No.</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputSkills" placeholder="Election Card No">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">IFSC Code</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputSkills" placeholder="IFSC Code">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">GST No</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputSkills" placeholder="GST No">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Cast</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputSkills" placeholder="Cast">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Gender</label>
                                    <div class="col-sm-9 row">
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio">
                                            <label for="customRadio1" class="custom-control-label">Male</label>
                                        </div> &nbsp;&nbsp;&nbsp;
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="customRadio" name="customRadio">
                                            <label for="customRadio" class="custom-control-label">Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Brith Date</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" id="inputName" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Phone No</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="inputName" placeholder="Phone No">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Mobile No.</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="inputName" placeholder="Mobile No">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Eduction</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputName" placeholder="Eduction">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Khedut Type</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputName" placeholder="Khedut Type">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Second Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputName" placeholder="Second Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Third Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputName" placeholder="Third Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Family Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputName" placeholder="Family Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Family Member</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputName" placeholder="Eduction">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label for="inputName" class="col-sm-3 col-form-label">Vy.S.Tharav No</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputName" placeholder="Eduction">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label for="inputName" class="col-sm-3 col-form-label">Date</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" id="inputName" placeholder="Eduction">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Nomini Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputName" placeholder="Nomini Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Nomini Address</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Nomini Relation</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputName" placeholder="Nomini Relation">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

@section scriptsContent {
    <!-- DataTables  & Plugins -->


    <script>
        $(function () {
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}
